/* import font from google fonts */
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

:root{
  --primary-color: #AA25ED;
  --border: #e1e1e1;
  --text-color: #333;
  --light-gray: #5A5A5A;
  --poppins: "Poppins", sans-serif;
  --overlay-color: rgba(24, 39, 51, 0.85);
  --menu-speed: 0.75s;
}

body{
  background: #FBF3FF;
}

.primary-color{
  color: var(--primary-color);
}

.bg-primary-color{
  background-color: var(--primary-color)!important;
}

.text-color{
  color: var(--text-color);
}

.heading-color{
  color: var(--light-gray);
  font-weight: bold;
  font-size: 24px;
}

.primary-button{
  background-color: var(--primary-color);
  color: white;
  font-size: 14px;
  padding: 12 20px;
  border-radius: 5px;
}

.primary-button:hover{
  color: var(--primary-color);
  background: none;
  border: 1px solid var(--primary-color);
  box-shadow: 0px 5px 20px rgba(170, 37, 237, 0.25);
}

body{
  font-family: var(--poppins);
  position: relative;
}

/*header*/

.navbar-nav{
  font-size: 14px;
}

.navbar-light .navbar-nav .active>.nav-link{
  color: var(--primary-color);
}

.navbar-light .navbar-nav .nav-link:hover{
  color: var(--primary-color);
}

.transition{
  transition: 0.7s ease-in;
}

/* Caurosel */

#carouselExampleCaptions{
  top: 66px;
}

.overlay_carousel{
  background: rgba(0, 0, 0, 0.2);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.carousel-caption{
  bottom: 30%;
  width: 500px;
  margin-left: 500px;
}

.carousel-caption h5{
  font-size: 30px;
  line-height: 45px;
  letter-spacing: 0.25em;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-weight: normal;
}

.hero_line{
  border-top: 5px solid white;
  width: 500px;
  margin: 0;
  margin-top: 22px;
  margin-bottom: 15px;
}

.carousel-caption p{
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.25em;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.btn_hero{
  color: var(--primary-color);
  background: #fff;
  border-radius: 0;
  padding: 10px 57px;
}

.btn_hero:hover{
  box-shadow: 5px 10px 30px #AA25ED;

}

.carousel-control-next-icon, 
.carousel-control-prev-icon{
  color: white;
}

#carouselExampleCaptions > ol > li{
  border-radius: 50%;
  height: 15px;
  width: 15px;
  background-color: #e1e1e1;
  opacity: 1;
}

#carouselExampleCaptions > ol > li.active{
  border-radius: 50%;
  background-color: var(--primary-color);
}

.carousel-img{
  width: 100%;
  height: 100%;
}

  /*gallery*/
  .img-gallery{
    margin-top: 200px;
    margin-bottom: 100px;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 375px 195px 195px 375px;
    grid-template-rows: 182px 182px 375px 182px 182px 375px 375px;
    transition: 1s ease-in;
  }

  .wrapper{
    position: relative;
  }

  .content{
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    width: 271px;
    letter-spacing: 0.25em;
  }

  .content-small{
    width: 180px;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    letter-spacing: 0.25em;
  }

  .content-small h5{
    font-size: 12px;
  }

  .img_line{
    width: 271px;
    border-top: 2px solid white;
  }

  .btn_img{
    width: 105px;
    height: 40px;
    background: #FFFFFF;
    color: var(--primary-color);
    font-size: 18px;
    border-radius: 0;
  }

  .btn_img:hover{
    color: var(--primary-color);
    box-shadow: 5px 10px 30px #AA25ED;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    transition: 0.5 ease;
    background: rgba(9, 8, 8, 0.7);
  }

  .wrapper:hover .overlay {
    opacity: 1;
  }

  .img-fluid{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 1s ease-in;
  }

  .vid_gallery{
    width: 100%;
    height: 100%;
    border: none;
  }

  .img-1{
    grid-column: 1/2;
    grid-row: 1/3;
  }

  .img-2{
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .img-3{
    grid-column: 2/3;
    grid-row: 2/3;
  }
  .img-4{
    grid-column: 3/5;
    grid-row: 1/3;
  }
  .img-5{
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .img-6{
    grid-column: 2/4;
    grid-row: 3/4;
  }
  .img-7{
    grid-column: 4/5;
    grid-row: 3/4;
  }
  .img-8{
    grid-column: 1/2;
    grid-row: 4/6;
  }
  .img-9{
    grid-column: 2/4;
    grid-row: 4/5;
  }
  .img-10{
    grid-column: 2/4;
    grid-row: 5/6;
  }
  .img-11{
    grid-column: 4/5;
    grid-row: 4/6;
  }
  .img-12{
    grid-column: 1/4;
    grid-row: 6/7;
  }
  .img-13{
    grid-column: 4/5;
    grid-row: 6/7;
  }
  .img-14{
    grid-column: 1/3;
    grid-row: 7/8;
  }
  .img-15{
    grid-column: 3/4;
    grid-row: 7/8;
  }
  .img-16{
    grid-column: 4/5;
    grid-row: 7/8;
  }
  
  /* Footer */
  
  .footer_text{
    font-size: 18px;
    letter-spacing: 0.395em;
  }

  .fab{
    background-color: var(--primary-color);
    padding: 15px;
    border-radius: 50%;
    color: white;
    transition: 0.7s;
  }

  .fab:hover{
    color: var(--primary-color);
    background: none;
    transition: 0.5s;
  }

  @media screen and (max-width: 600px){

    .img-gallery{
      display: block;
      transition: 1s ease-in;
    }

    .img-fluid{
      margin-bottom: 10px;
      transition: 1s ease-in;
    }
    .footer_text{
      margin-top: 20px;
      padding-left: 0;
    }

    .icons{
      margin-top: 20px;
      margin-left: 0px;
    }

  } 
